*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}

$deepBlue: #00a0e9;
$lightBlue: #edfaff;

@mixin imgDef {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

//header----------------------------------------------------------

header {
    .top-head {
        height: 55px;
        padding: 0 32px;
        background-color: #00aeef;
        display: flex;
        align-items: center;
        .top-logo img {
            width: 158px;
            display: block;
        } 
    }
    .top-img img {
        @include imgDef;
        
    }
    .top-foot-img img {
        @include imgDef;
    }
}


// form-top----------------------------------------------------------

.step-img {
    @include imgDef;
    margin-top: 5px;
}
form > .form-item:nth-child(2) {
    margin: 6px 4% 0;
    border-radius: 4px;
}
.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 2px 3px 3px 0;
    .left {
        margin-top: 3px;
        width: 35%;
        .item-title {
            font-size: 0.75rem;
            font-weight: 700;
            text-align: center;
            line-height: 1.4;
        }
    }
    
    .required-img img {
        display: block;
        width: 35px;
        margin: auto;
    }
    .center {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        select {
            background: #fff url(../images/index_ic05.png) no-repeat 94% 50%;
            background-size: 11px;
            padding: 10.5px 10px 9px;
            width: 100%;
            border: 1px solid #bbb;
            border-radius: 4px;   
            font-size: 0.88rem;   
            line-height: 1.1;      
        }   
    }
    .right {
        width: 23%;
        text-align: right;
        .ok-img {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            margin-right: 6px;
        }
    }

        
}
.step-2-wrap {
    margin: 4px 4% 0;
    padding: 4px 0;
    background-color: #eee;
    border-radius: 4px;
}
.button-wrap {
    margin: 0 4%;
}
.submit-button {
    background-color: #bbb;
    margin-top: 10px;
    height: 60px;
    width: 100%; 
    display: block;
    border-bottom: 3px solid #888;
    .inner-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        max-width: 100%;
        margin: auto;
        img {
            width: 20px;
            display: block;
            margin-right: 14px;
        }
        p {
            color: #fff;
            font-size: 0.88rem;
            font-weight: bold;
        }
    }

}


// intro----------------------------------------

.intro h3 {
    font-size: 1.12rem;
    text-align: center;
    margin-top: 32px;
    line-height: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.05px;
    .large {
        font-size: 1.55rem;
        .red {
            color: #c00;
        }
    }
}
.intro-img {
    @include imgDef;
    margin-top: 26px;
}
.intro p:last-child {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 21.8%;
    background: url(../images/index_bg01.png) no-repeat 0 100%;
    background-size: contain;
    margin-top: 2px;
}

// reason---------------------------------------

// reason-title共通部分-----------------------------------

.reason-title {
    border-bottom: 1px solid $deepBlue;
    padding: 7.3% 0 3.7%;
    margin: 0 4%;
    display: flex;
    .num {
        color: $deepBlue;
        font-size: 3.48rem;
        font-weight: normal;
        display: block;
        line-height: 1;
        padding-left: 1.5%;
    }
    .title-text {
        font-size: 0.88rem;
        padding-left: 3.8%;
        em {
            font-size: 1.378rem;
        }
    }
}

// end---------------------------------------------------------
.reason-top {
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    background-color: $deepBlue;
    padding: 24px;
}
.reason-1 {
    padding-bottom: 4px;
    background-color: $lightBlue;
    .first-img {
        @include imgDef;
        margin-top: 1px;
    }
    .lead {
        margin: 5px 40px 0;
        font-size: 0.875rem;
        line-height: 1.6;
        letter-spacing: 0.001em;
    }
    .second-img {
        @include imgDef;
        margin-top: 0.5px;
    }
}
// reaaon h4 mixin--------------------------

@mixin h4 {
    font-size: 1.128rem;
    color: $deepBlue;
    margin: 4% 5.35% 0;
}
@mixin lead {
    font-size: .88rem;
    margin: 1.5% 5.35% 0;
}

// --------------------------------------------

.reason-2 {
    padding-bottom: 4px;
    h4 {
        @include h4;
    }
    .lead {
        @include lead;
    }
    img {
        @include imgDef;
        margin-top: 12px;
    }
}
.reason-3 {
    background-color: $lightBlue;
    .reason-title {
        position: relative;
        .title-text {
            width: calc(100% - 1.2em);
            padding-right: 16%;
        }
        .title-right {
            width: 15%;
            height: auto;
            position: absolute;
            top: 61%;
            right: 0;
            max-width: 3.8rem;
            transform: translate(0, -50%);
            .title-right-img {
                width: 100%;
                height: auto;
            }
        }
        
    }
    h4 {
        @include h4;
    }
    .lead {
        @include lead;
    }
    .main-img {
        @include imgDef;
        margin-top: 12px;
    }
}
.reason-4 {
    margin-bottom: 80px;
    h4 {
        @include h4;
        line-height: 1.6em;
    }
    .lead {
        @include lead;
    }
    img {
        @include imgDef;
    }
    .comment {
        font-size: 0.626rem;
        margin: 5px 40px 0;
        line-height: 1.6em;
        padding-left: 1em;
        text-indent: -1em;
        &::before {
            content: "※";
        }
        &:last-child {
            margin-top: 0;
        }
    }
}
.reason-5 {
    background-color: $lightBlue;
    h4 {
        font-size: 1rem;
        padding-left: 4%;
        margin: 9% 5.3% 0;
        border-left: 3px solid $deepBlue;
        line-height: 1.4em;
        sup {
            font-weight: 300;
            font-size: 0.65rem;
        }
    }
    .first-img, .second-img {
        @include imgDef;
        margin-top: 4%;
        padding: 0 5.3%;
    }
    .comment {
        font-size: 0.626rem;
        margin: 4.7% 5.3% 0;
        padding-left: 1em;
        text-indent: -1em;
        &::before {
            content: "※";
        }
    }
    .head-wrap {
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-start;
        position: relative;
        padding-right: 5%;
        h4 {
            padding-right: 15%;
        }
        img {
            display: block;
            width: 50px;
            height: auto;
            position: absolute;
            top: 0;
            right: 5.3%;
        }
    }
}

// last-reason----------------------------------

.last-reason{
    .top-img {
        @include imgDef;
        margin-top: 4px;
    }
    .pie-chart-img {
        @include imgDef;
    }
} 

// form-bottom----------------------------------

.form-bottom {
    h4 {
        bottom: -6%;
        margin-top: -6%;
    }
    .title-img {
        @include imgDef;
        z-index: 2;
    }
}

// footer-----------------------------------------

footer {
    .gray-back {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6.2% 16px;
        background-color: #f6f6f6;
        margin-top: 10px;
        .norton-img {
            @include imgDef;
        }
        .text {
            line-height: 1.7em;
            margin-left: 8px;
        }
    }
    .blue-back {
        background-color: #00aeef;
        padding: 4.2% 0;
        .inner-wrap {

            .copy-img {
                width: 188px;
                display: block;
                margin: auto;
            }
            .copy-text {
                font-family: Droid Sans,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif;
                color: #fff;
                font-size: 0.59rem;
                text-align: center;
                margin-top: 20px;
                letter-spacing: -0.04em;
            }   
        }
    }
}

// media queries------------------------------------------------------

@media screen and (min-width:320px) {
    .reason-title .title-text {
        white-space: nowrap;
    }
}


