*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}

$deepBlue: #00a0e9;
$lightBlue: #edfaff;

@mixin imgDef {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

//header----------------------------------------------------------

header {
    .top-head {
        height: 55px;
        padding: 0 32px;
        background-color: #00aeef;
        display: flex;
        align-items: center;
        .top-logo img {
            width: 158px;
            display: block;
        } 
    }
    .top-img img {
        @include imgDef;
        
    }
    .top-foot-img img {
        @include imgDef;
    }
}


// form-top----------------------------------------------------------

.step-img img {
    @include imgDef;
}
form > .form-item:nth-child(2) {
    margin: 0 18px;
    border-radius: 4px;
}
.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 3px;
    .left {
        padding-left: 2px;
        .item-title {
            font-size: 0.7rem;
            font-weight: bold;
            text-align: center;
            width: 91px;
        }
    }
    
    .required-img img {
        display: block;
        width: 35px;
        margin: auto;
    }
    .center {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        select {
            background: #fff url(../images/index_ic05.png) no-repeat 94% 50%;
            background-size: 11px;
            padding: 8px;
            width: 100%;
            border: 1px solid #bbb;
            border-radius: 4px;   
            font-size: 0.9rem;         
        }   
    }
    .right img {
        display: block;
        width: 30px;
        margin: 0 4px 0 16px;
        }
        
}
.step-2-wrap {
    margin: 0 18px;
    padding: 4px 0;
    background-color: #eee;
    border-radius: 4px;
}
.button-wrap {
    margin: 0 18px;
}
.submit-button {
    background-color: #bbb;
    margin-top: 10px;
    height: 60px;
    width: 100%; 
    display: block;
    border-bottom: 3px solid #888;
    .inner-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        max-width: 100%;
        margin: auto;
        img {
            width: 20px;
            display: block;
            margin-right: 14px;
        }
        p {
            color: #fff;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

}


// intro----------------------------------------

.intro h3 {
    font-size: 1.12rem;
    text-align: center;
    margin-top: 24px;
    line-height: 1.9rem;
    font-weight: bold;
    letter-spacing: 0.05px;
    .large {
        font-size: 1.55rem;
        .red {
            color: #c00;
        }
    }
}
.intro-img {
    @include imgDef;
    margin-top: 20px;
}
.intro p:last-child {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 22.1%;
    background: url(../images/index_bg01.png) no-repeat 0 100%;
    background-size: contain;
}

// reason---------------------------------------

.reason-title {
    border-bottom: 1px solid $deepBlue;
    padding: 40px 0 20px;
    margin: 0 23px;
    display: flex;
    .num {
        color: $deepBlue;
        font-size: 3.5rem;
        font-weight: normal;
        display: block;
        line-height: 1;
        padding-left: 7px;
    }
    .title-text {
        font-size: 0.9rem;
        padding-left: 20px;
        em {
            font-size: 1.4rem;
        }
    }
}

.reason-top {
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    background-color: $deepBlue;
    padding: 0.9em;
}
.reason-1 {
    background-color: $lightBlue;
    .first-img {
        @include imgDef;
    }
    .lead {
        margin: 0 30px;
        font-size: 0.88rem;
        margin-top: 4px;
    }
    .second-img {
        @include imgDef;
    }
}
// reaaon h4 mixin--------------------------

@mixin h4 {
    font-size: 1.13rem;
    color: $deepBlue;
    margin: 28px 30px 0;
}
@mixin lead {
    font-size: .88rem;
    margin: 10px 30px 0;
}

// --------------------------------------------

.reason-2 {
    h4 {
        @include h4;
    }
    .lead {
        @include lead;
    }
    img {
        @include imgDef;
    }
}
.reason-3 {
    background-color: $lightBlue;
    h4 {
        @include h4;
    }
    .lead {
        @include lead;
    }
    img {
        @include imgDef;
    }
}
.reason-4 {
    margin-bottom: 50px;
    h4 {
        @include h4;
    }
    .lead {
        @include lead;
    }
    img {
        @include imgDef;
    }
    .comment {
        font-size: 0.65rem;
        margin: 0 30px;
        padding-left: 1em;
        text-indent: -1em;
        &::before {
            content: "※";
        }
    }
}
.reason-5 {
    background-color: $lightBlue;
    padding: 0 30px;
    .reason-title {
        margin: 0;
    }
    h4 {
        font-size: 1rem;
        padding-left: 24px;
        margin-top: 40px;
        border-left: 3px solid $deepBlue;
        line-height: 1.4em;
        sup {
            font-weight: 300;
            font-size: 0.65rem;
        }
    }
    .first-img, .second-img {
        @include imgDef;
        margin-top: 24px;
    }
    .comment {
        font-size: 0.65rem;
        margin-top: 24px;
        padding-left: 1em;
        text-indent: -1em;
        &::before {
            content: "※";
        }
    }
    .head-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        img {
            display: block;
            width: 50px;
            height: auto;
            margin-left: 50px;
        }
    }
}

// last-reason----------------------------------

.last-reason{
    .top-img {
        @include imgDef;
    }
    .pie-chart-img {
        @include imgDef;
    }
} 

// form-bottom----------------------------------

.form-bottom {
    h4 {
        bottom: -6%;
        margin-top: -6%;
    }
    .title-img {
        @include imgDef;
        z-index: 2;
    }
}

// footer-----------------------------------------

footer {
    .gray-back {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 16px;
        background-color: #f6f6f6;
        margin-top: 10px;
        .norton-img {
            @include imgDef;
        }
        .text {
            line-height: 1.7em;
            margin-left: 8px;
        }
    }
    .blue-back {
        background-color: #00aeef;
        padding: 32px 0;
        .inner-wrap {

            .copy-img {
                width: 188px;
                display: block;
                margin: auto;
            }
            .copy-text {
                font-family: Droid Sans,"ヒラギノ角ゴ Pro",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,sans-serif;
                color: #fff;
                font-size: 0.6rem;
                text-align: center;
                margin-top: 20px;
                letter-spacing: -0.04em;
            }   
        }
    }
}



